@page "/inicio"
@using Data.Response
@inject IFacturaServices facturaServices
@inject IPagoServices pagoServices
@attribute [Authorize]

<PageTitle>Inicio</PageTitle>

<h3 class="mt-4 bg-dark text-white py-2 px-3 rounded">
    <i class="bi bi-speedometer2 me-2"></i>
    <strong>DASHBOARD</strong>
</h3>

<div class="container mt-3">
    <hr />
    <div class="row g-4">
        <div class="col-md-6">
            <div class="card border-primary" title="La suma total de los ingresos recibidos durante el mes en curso.">
                <div class="card-body">
                    <h5 class="card-title text-primary">
                        <i class="bi bi-cash-coin me-2"></i> Ingresos del Mes
                    </h5>
                    <p class="card-text fs-5">Monto: $@IngresoMensual.ToString("N2")</p>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card border-success" title="La suma total de los ingresos recibidos durante el año en curso.">
                <div class="card-body">
                    <h5 class="card-title text-success">
                        <i class="bi bi-cash-coin me-2"></i> Ingresos del Año
                    </h5>
                    <p class="card-text fs-5">Monto: $@IngresoAnual.ToString("N2")</p>
                </div>
            </div>
        </div>
    </div>

    <hr />

    <div class="row g-4 mt-2">
        <div class="col-md-6">
            <div class="card border-info" title="Ventas al contado durante el día en curso.">
                <div class="card-body" style="cursor: pointer;" @onclick='()=>urlHelper.NavigateTo("/factura/paga")'>
                    <h5 class="card-title text-info">
                        <i style="font-size: 18px;" class="fw-bold me-2">💲</i> Ventas al Contado
                    </h5>
                    <p class="card-text fs-5">Cantidad: $@VentaContado.ToString("N2")</p>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card border-warning" title="Ventas a crédito durante el día en curso.">
                <div class="card-body" style="cursor: pointer;" @onclick='()=>urlHelper.NavigateTo("/factura/cobrar")'>
                    <h5 class="card-title text-warning">
                        <i style="font-size: 18px;" class="fw-bold me-2">💳</i> Ventas a Crédito
                    </h5>
                    <p class="card-text fs-5">Cantidad: $@VentaCredito.ToString("N2")</p>
                </div>
            </div>
        </div>
    </div>

    <div class="row g-4 mt-2">
        <div class="col-md-6">
            <div class="card border-secondary" title="Dinero total en caja durante el día en curso.">
                <div class="card-body" style="cursor: pointer;" @onclick="Cuadre">
                    <h5 class="card-title text-secondary">
                        <i style="font-size: 18px;" class="fw-bold me-2">📠</i> Dinero en Caja
                    </h5>
                    <p class="card-text fs-5 fw-bold">Monto: $@DineroEnCaja.ToString("N2")</p>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card border-dark" title="Ingreso total diario: contado + crédito.">
                <div class="card-body">
                    <h5 class="card-title text-dark">
                        <i style="font-size: 18px;" class="fw-bold me-2">📊</i> Ingreso Total
                    </h5>
                    <p class="card-text fs-5">Monto: $@IngresoTotal.ToString("N2")</p>
                </div>
            </div>
        </div>
    </div>
</div>


@code
{
    public List<FacturaResponse> Facturas { get; set; } = new();
    public List<PagoResponse> Pagos { get; set; } = new();
    public List<CuadrarCajaResponse> Cajas { get; set; } = new();
    public string Filtro { get; set; } = "";
    public decimal DineroEnCaja = 0;
    public decimal VentaContado = 0;
    public decimal VentaCredito = 0;
    public decimal IngresoTotal = 0;
    public decimal IngresoAnual = 0;
    public decimal IngresoMensual = 0;
    void Cuadre()
    {
        urlHelper.NavigateTo("/cuadre");
    }
    void MonthlySell()
    {
        DateTime today = DateTime.Today;
        int currentYear = today.Year;
        int currentMonth = today.Month;

        var Contado = Facturas
            .Where(c => (c.TypePayment == "1" && c.SaldoPendiente <= 0) && c.Fecha.Year == currentYear && c.Fecha.Month == currentMonth)
            .Sum(c => c.SubTotal - c.TotalDesc);

        var Pago = Pagos
            .Where(c => c.Fecha.Year == currentMonth)
            .Sum(c => c.MontoPagado);

        IngresoMensual = Contado + Convert.ToDecimal(Pago);
    }

    void OneYearIncome()
    {
        DateTime today = DateTime.Today;
        int currentYear = today.Year;
        int currentMonth = today.Month;

        var Contado = Facturas
            .Where(c => (c.TypePayment == "1" && c.SaldoPendiente <= 0) && c.Fecha.Year == currentYear)
            .Sum(c => c.SubTotal - c.TotalDesc);

        var Pago = Pagos
            .Where(c => c.Fecha.Year == currentYear)
            .Sum(c => c.MontoPagado);

        IngresoAnual = Contado + Convert.ToDecimal(Pago);;
    }


    DateTime ultimoCuadreFecha;
    void CashInBox()
    {
        // Filtrar las facturas y pagos posteriores al último cuadre de caja
        var facturasPosteriores = Facturas.Where(f => f.Fecha > ultimoCuadreFecha);
        var pagosPosteriores = Pagos.Where(p => p.Fecha > ultimoCuadreFecha);

        // Calcular el monto en caja sumando las facturas y los pagos posteriores al último cuadre
        var Contado = facturasPosteriores
            .Where(c => c.TypePayment == "1" && c.SaldoPendiente <= 0)
            .Sum(c => c.SubTotal - c.TotalDesc);

        var Credito = facturasPosteriores
            .Where(c => c.TypePayment == "2" && c.SaldoPendiente > 0)
            .Sum(c => c.SubTotal - c.TotalDesc);

        var Pago = (decimal)pagosPosteriores
            .Sum(c => c.MontoPagado);

        DineroEnCaja = Contado + Pago;
        VentaContado = Contado;
        VentaCredito = Credito;
        IngresoTotal = Contado + Credito;
    }

    async Task Consultar()
    {
        var resultado = await facturaServices.Consultar(Filtro);
        if (resultado.Success)
        {
            Facturas = resultado.Data?.OrderByDescending(f => f.Fecha).ToList() ?? new List<FacturaResponse>();
        }
        StateHasChanged();
    }
    async Task CargarPagos()
    {
        var resultado =
        await pagoServices.Consultar(Filtro);
        if (resultado.Success)
        {
            Pagos = resultado.Data!;
        }
    }
    async Task CargarCajas()
    {
        var resultado =
        await cuadrarCajaServices.Consultar(Filtro);
        if (resultado.Success)
        {
            Cajas = resultado.Data!;
        }

        // Verificar si hay algún cuadre de caja en la lista
        if (Cajas.Any())
        {
            // Ordenar la lista de Cajas por fecha en orden descendente
            Cajas = Cajas.OrderByDescending(c => c.Fecha).ToList();
            
            // Tomar la fecha del primer elemento de la lista (el más reciente)
            ultimoCuadreFecha = Cajas.First().Fecha;
        }
    }
    protected override async Task OnInitializedAsync()
    {
        await Consultar();
        await CargarPagos();
        await CargarCajas();
        CashInBox();
        OneYearIncome();
        MonthlySell();
        
        await proveedorServices.CrearSuplidor();
        await categoriaServices.CrearCategoria();
    }

}